<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Styles and Scripts }}
    
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700|Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>

    <link href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    
    <!--
    <link href='http://fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic,700italic|Open+Sans:400italic,600italic,700italic,700,600,400' rel='stylesheet' type='text/css'>
    -->
    <link rel="stylesheet" type="text/css" href="/assets/css/screen.css" />


    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

<div class="container">
    <header class="site-header">
        <a class="site-title" title="{{@blog.title}}" href="{{@blog.url}}">{{@blog.title}}</a>
        
        <nav class="nav social-nav">
            <a href="https://twitter.com/mtrythall">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="https://github.com/mtrythall">
                <i class="fa fa-github-alt"></i>
            </a>
            <a href="http://linkedin.com/in/mtrythall">
                <i class="fa fa-linkedin"></i>
            </a>
            <a href="mailto:m@mtrythall.com?subject='Sup">
                <i class="fa fa-envelope"></i>
            </a>
        </nav>
        
        <hr />
    </header>

    <main class="main" role="main">
        {{! Everything else gets inserted here }}
        {{{body}}}
    </main>
</div>

<footer class="site-footer">
    <div class="inner">
        
        <nav class="nav footer-nav">
            <a class="subscribe" href="{{@blog.url}}/rss/">
                <i class="fa fa-rss-square"> </i>
            </a>
        </nav>

        <section class="copyright">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013-2014 &bull; All rights reserved.</section>
        <section class="poweredby">
            Published with <a href="http://ghost.org">Ghost</a>. 
            <a href="https://github.com/mtrythall/cutter">Cutter theme</a> available on Github.
        </section>
    </div>
</footer>

{{! Ghost outputs important scripts and data with this tag }}
{{ghost_foot}}

</body>
</html>