{{!< default}}

{{#post}}
    <p class="return">
        <a href="{{@blog.url}}">Return to post list</a>
    </p>

    <article class="{{post_class}}">
        <header class="post-header">
            <p class="post-date"><time datetime="{{published_at}}">{{date format="DD MMM YYYY"}}</time></p>
            <h1 class="post-title">{{title}}</h1>
        </header>

        <div class="post-content">
            {{{content}}}

            {{#if tags}}
                <p class="post-tags">
                    <span class="headline">Tagged:</span> 
                    {{tags}}
                </p>
            {{/if}}
        </div>
    </article>
{{/post}}